.blog_slider {
    margin-bottom: 105px;
    margin-top: 55px;
    position: relative;
  }
  
  .blog_slider h2 {
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 58px;
    font-weight: 400;
    left: 46.2%;
    position: absolute;
    text-align: center;
    top: 40px;
  }
  
  .blog_slider > img {
    width: 100%;
      height: 170px
  }
  .blog_overlay {
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
  }
  .blog-slide-text .b-slide > img {
    width: 100%;
  }
  .blog-slide-text .b-text > h2 {
    color: #f39c12;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 3px 0 10px;
  }
  .blog-slide-text .b-text > p {
    border-bottom: 1px solid #898989;
    color: #898989;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 5px 0;
  }
  .col-md-9 > .b-slide-text {
    padding: 50px 0;
  }
  .blog-slide-text .b-text i {
    margin-right: 10px;
  }
  .blog-slide-text .b-text span {
    margin-right: 10px;
  }
  .blog-slide-text .b-text > h4 {
    color: #898989;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    padding: 10px 0;
    text-align: justify;
  }
  .blog-slide-text .b-text a.read-more {
    color: #f39c12;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Roboto",sans-serif;
  }
  
  .blog-sidebar h2 {
    color: #f39c12;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 50px 0 25px;
  }
  
  .resent-post {
    border: 1.5px solid #bfb7b7;
  }
  .resent-post > img {
    float: left;
  }
  .resent-post .text {
    float: right;
    padding: 18px 0;
  }
  .resent-post .text > h3 {
      font-size: 17px;
      color: #2a2a2a;
      margin: 0;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
  }
  .resent-post .text > p {
      font-size: 13px;
      margin: 0;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
  }
  .resent-post-single {
    border-bottom: 1px solid #bfb7b7;
    margin: 0 10px;
    padding: 10px 0;
  }
  .resent-post-single:last-child {
    border: medium none;
  }

  
  .pagination li a{
      background: #c8c8c8;
      color: #2a2a2a;
      font-size: 25px;
      font-family: "Roboto",sans-serif;
      margin: 0px 6px
  }
  .pagination li a:hover{
      background: #f39c12;
      color: #fff
  }
  .pagination {
    margin: 20px 0 95px;
    padding-left: 22%;
  }
  
  